$fonts: "TimesNewRomanRegular TimesNewRomanItalic TahomaBold TahomaRegular", sans-serif;
$fonts2: "webfonts", sans-serif;
$background: white;
$text: #9c9c9c;
$title: black;
$screenContent: #f0f0f0;
$linkHover: #c23a31;
$linkHoverText: #8bbc08;
$screenBackground: #7c7c7c;
$colorTextButton: #fefefe;
